.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.form-container{
    background-color: white;
    width: 430px;
    max-width: 100%;
    padding: 36px 32px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,.12);
    margin: 20px 0;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-group{
    display: flex;
    flex-direction: column;
}

.input-group label{
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
}

.inputs{
    width: 100%;
    height: 44px;
    padding: 0 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    transition: .3s;
    font-size: 14px;
}

.inputs:focus{
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59,130,246,.5);
}

.showPassword{
    display: flex;
    align-items: center;
    gap: 8px;
}

.showPassword input{
    width: 16px;
    height: 16px;
}

.showPassword label{
    font-size: 14px;
    color: #555;
}

#btn-submit{
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg,#06B6D4,#0284C7);
    color: white;
    font-weight: bold;
    transition: all .3s ease;
    margin-top: 4px;
}

#btn-submit:hover{
    background: linear-gradient(135deg, #16A34A, #166534);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(34,197,94,.35);
    cursor: pointer;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    gap: 5px;
}
